﻿@model gestformandosMVC.Data.Entities.Gender

@{
    ViewBag.Title = "Criar Novo";
}

<h2>Criar Novo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Género</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="row form-group">
			<div class="col-md-12">
					@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
					<div>
								@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
										@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
								</div>
			</div>
		</div>
		<div class="form-group" id="form-controls">
            <div class="col-md-12 d-md-inline-flex">
                <div class="col-12 col-md-6">
                    <input type="submit" value="Adicionar" class="btn btn-default" />
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

