﻿@model gestformandosMVC.ViewModels.Evaluations.StudentWithEvaluationsViewModel
@{
    ViewBag.Title = "Avaliações";
}

<h2>@Model.Student.FullName</h2>
<h4>Avaliações</h4>
<br/>
<div class="row" id="search-bar">
    <div class="col-sm-3 col-md-2">
        <p>Pesquisar:</p>
    </div>
    <div class="col-sm-9 col-md-10">
        <input type="text" />
    </div>

</div>
<div>
    <div class="table-responsive table-card">
        <table class="table">
            <tr>
                <th>
                    Referência
                </th>
                <th>
                    UFCD
                </th>
                <th>
                    Nota
                </th>
                <th></th>
            </tr>
            <tr class="table-spacing"></tr>
            @foreach (var item in Model.Evaluations)
            {
                <tr>
                    <td>
                        @item.Ufcd.Reference
                    </td>
                    <td>
                        @item.Ufcd.Name
                    </td>
                    <td title="@item.Description">
                        @item.Grade
                    </td>
                    <td></td>
                </tr>
                <tr class="table-spacing"></tr>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    document.querySelector('#search-bar input').addEventListener('input', (e) => {
        let tableRows = document.querySelectorAll('tr:not(:first-child):not(.table-spacing)');

        search(tableRows, e.target.value);
    });

    function search(elements, text) {
        for (let element of elements) {
            let txtValue = element.innerText;

            if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                element.style.display = "";
                element.nextSibling.nextSibling.style.display = "";
            } else {
                element.style.display = "none";
                element.nextSibling.nextSibling.style.display = "none";
            }
        }
    }
</script>
