﻿@model gestformandosMVC.ViewModels.Evaluations.GradeableStudentsTeamViewModel
@{
    ViewBag.Title = "Team";
}

@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
    }
    if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
    }
}


<h2>@Model.Team.Name</h2>
<h4>Avaliações</h4>

<div class="table-responsive">
    <table class="table table-individual-cells">
        <tr>
            <th>

            </th>
            @foreach (var ufcd in Model.StudentEvalsPerUFCD)
            {
                <th>
                    @ufcd.Ufcd.Name
                </th>
            }
        </tr>
        @{
            foreach (var student in Model.Students)
            {
                <td>
                    @student.Profile.FullName
                </td>
                foreach (var ufcds in Model.StudentEvalsPerUFCD)
                {
                    var evaluation = ufcds.StudentEvals.Find(x => x.Student == student && x.Evaluation?.UfcdId == ufcds.Ufcd.Id);
                    if (evaluation != null)
                    {
                        <td data-toggle="modal"
                            data-target="evalModal"
                            data-evalId="@evaluation.Evaluation.Id"
                            data-ufcdId="@ufcds.Ufcd.Id"
                            data-studentId="@evaluation.Student.Id"
                            data-grade="@evaluation.Evaluation.Grade.ToString().Replace(',','.')"
                            data-description="@evaluation.Evaluation.Description">
                            @evaluation.Evaluation.Grade
                        </td>
                    }
                    else
                    {
                        <td data-toggle="modal"
                            data-target="evalModal"
                            data-evalId="new"
                            data-ufcdId="@ufcds.Ufcd.Id"
                            data-studentId="@student.Id"
                            data-grade="0">
                            N/A
                        </td>
                    }
                }
            }
        }
    </table>
</div>

<div class="modal fade" id="evalModal" aria-labelledby="ModalEval" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Avaliação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Evaluate", ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "evalModalForm", @class = "" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-12 form-group">
                            <input type="number" min="0" max="20" step="0.1" name="grade" id="modal-grade" value="0" class="form-control text-center" />
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea id="modal-description" name="description" class="form-control"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <input type="submit" id="confirmEval" class="btn btn-primary" value="Submeter" />

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">

    // On showing modal
    $('td[data-evalId]').on('click', function (e) {
        if (e.target.dataset.evalid === 'new') {
            document.querySelector('#evalModal input[name="grade"]').value = "0";
            document.querySelector('#evalModal textarea[name="description"]').value = "";

            $('#evalModal form').attr('action', `@Url.Action("EvaluateNew", "Evaluations", new { teamId = Model.Team.Id })&studentId=${e.target.dataset.studentid}&ufcdId=${e.target.dataset.ufcdid}`);
        } else {
            document.querySelector('#evalModal input[name="grade"]').value = e.target.dataset.grade;
            document.querySelector('#evalModal textarea[name="description"]').value = e.target.dataset.description;

            $('#evalModal form').attr('action', `@Url.Action("Evaluate", "Evaluations", new { teamId = Model.Team.Id })&evalID=${e.target.dataset.evalid}`);
        }

        $('#evalModal').modal('show');
    });
</script>
