﻿body {
    padding: 1em;
    background-color: black;
    color: white;
}

i {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 100vh;
    color: rgba(255, 255, 255, 0.3);
    z-index: 0;
}
