﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - gestFormandos</title>
    @Styles.Render("~/Content/Bootstrap/scss")
    @Styles.Render("~/Content/fontawesome/scss")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/scss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/syncfusion")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div>
            @Html.ActionLink("gestFormandos", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>

        @Html.Partial("_LoginPartial")
    </nav>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-lg navbar-dark bg-tertiary">
                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondaryNavbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="subnavigation navigation">
                    <div class="collapse navbar-collapse w-100" id="secondaryNavbarSupportedContent">
                            <ul class="navbar-nav">
                                @{
                                    if (User.IsInRole("SuperUser"))
                                    {
                                        <li class="nav-item dropdown actionIcon">
                                            <a class="nav-link dropdown-toggle" href="#" id="superUserDropdown" role="button" data-toggle="dropdown"><i class="fas fa-tools"></i>&nbsp;Superuser</a>
                                            <div class="dropdown-menu" aria-labelledby="superUserDropdown">
                                                @Html.ActionIcon("venus-mars", "Index", "Géneros", new { controller = "Genders" }, new { @class = "dropdown-item" }, true)
                                                @Html.ActionIcon("flag", "Index", "Países", new { controller = "Countries" }, new { @class = "dropdown-item" }, true)
                                                @Html.ActionIcon("file-alt", "Index", "Tipos de Documentos", new { controller = "DocumentTypes" }, new { @class = "dropdown-item" }, true)
                                            </div>
                                        </li>
                                        
                                        <li class="nav-item dropdown actionIcon">
                                            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown"><i class="fas fa-cog"></i>&nbsp;Administrativo</a>
                                            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                                @Html.ActionIcon("user", "Index", "Cargos", new { controller = "Users" }, new { @class = "dropdown-item" }, true)
                                                @Html.ActionIcon("plus-square", "Index", "Inscrições", new { controller = "Inscriptions" }, new { @class = "dropdown-item" }, true)
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown actionIcon">
                                            <a class="nav-link dropdown-toggle" href="#" id="estudanteDropdown" role="button" data-toggle="dropdown"><i class="fas fa-user-graduate"></i>&nbsp;Estudante</a>
                                            <div class="dropdown-menu" aria-labelledby="estudanteDropdown">

                                                @Html.ActionIcon("plus-square", "Index", "Inscrições", new { controller = "Inscriptions" }, new { @class = "dropdown-item" }, true)
                                            </div>
                                        </li>
                                        @Html.ActionIcon("book", "Index", "Cursos", new { controller = "Courses" }, new { @class = "nav-link" }, true)
                                        @Html.ActionIcon("users", "Index", "Turmas", new { controller = "Teams" }, new { @class = "nav-link" }, true)
                                        @Html.ActionIcon("file", "Index", "UFCDs", new { controller = "UFCDs" }, new { @class = "nav-link" }, true)
                                    }
                                    @* Pelo menos dois cargos *@
                                    if (((User.IsInRole("Administrativo") || User.IsInRole("Director")) && User.IsInRole("Formador")) ||
                                        (User.IsInRole("Formador") && (User.IsInRole("Estudante"))) ||
                                        (User.IsInRole("Estudante") && (User.IsInRole("Administrativo") || User.IsInRole("Director"))))
                                    {

                                        @* Tem administrativo *@
                                        if (User.IsInRole("Administrativo") || User.IsInRole("Director"))
                                        {
                            <li class="nav-item dropdown actionIcon">
                                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown"><i class="fas fa-cog"></i>&nbsp;Administrativo</a>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    @Html.ActionIcon("user", "Index", "Cargos", new { controller = "Users" }, new { @class = "dropdown-item" }, true)
                                    @Html.ActionIcon("plus-square", "Index", "Inscrições", new { controller = "Inscriptions" }, new { @class = "dropdown-item" }, true)
                                    <hr />
                                    @Html.ActionIcon("user-cog", "Admin", "Perfis Administrativos", new { controller = "Profiles" }, new { @class = "dropdown-item" }, true)
                                    @Html.ActionIcon("user-edit", "Professors", "Perfis Formadores", new { controller = "Profiles" }, new { @class = "dropdown-item" }, true)
                                    @Html.ActionIcon("user-graduate", "Students", "Perfis Estudantes", new { controller = "Profiles" }, new { @class = "dropdown-item" }, true)
                                </div>
                            </li>
                                        }

                                        @* Tem estudante *@
                                        if (User.IsInRole("Estudante"))
                                        {
                                            <li class="nav-item dropdown actionIcon">
                                                <a class="nav-link dropdown-toggle" href="#" id="estudanteDropdown" role="button" data-toggle="dropdown"><i class="fas fa-user-graduate"></i>&nbsp;Estudante</a>
                                                <div class="dropdown-menu" aria-labelledby="estudanteDropdown">
                                                    @Html.ActionIcon("calendar-alt", "Me", "Horário", new { controller = "Schedules" }, new { @class = "dropdown-item" }, true)
                                                    @Html.ActionIcon("plus-square", "Index", "Inscrições", new { controller = "Inscriptions" }, new { @class = "dropdown-item" }, true)
                                                </div>
                                            </li>
                                        }

                                        @* Tem formador *@
                                        if (User.IsInRole("Formador"))
                                        {
                                            @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="formadorDropdown" role="button" data-toggle="dropdown">Estudante</a>
                        <div class="dropdown-menu" aria-labelledby="formadorDropdown">


                        </div>
                    </li>*@
                                        }

                                        @Html.ActionIcon("graduation-cap", "Me", "Perfil", new { controller = "Profiles" }, new { @class = "nav-link" }, true)
                                        @Html.ActionIcon("book", "Index", "Cursos", new { controller = "Courses" }, new { @class = "nav-link" }, true)
                                        @Html.ActionIcon("users", "Index", "Turmas", new { controller = "Teams" }, new { @class = "nav-link" }, true)
                                        @Html.ActionIcon("file", "Index", "UFCDs", new { controller = "UFCDs" }, new { @class = "nav-link" }, true)
                                    }
                                    else
                                    {
                                        @* Apenas administrativo *@
                                        if (User.IsInRole("Administrativo") || User.IsInRole("Director"))
                                        {
                                            @Html.ActionIcon("user", "Index", "Cargos", new { controller = "Users" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("book", "Index", "Cursos", new { controller = "Courses" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("plus-square", "Index", "Inscrições", new { controller = "Inscriptions" }, new { @class = "nav-link" }, true)
                                            <li class="nav-item dropdown actionIcon">
                                                <a class="nav-link dropdown-toggle " href="#" id="perfisAdminDropdown" role="button" data-toggle="dropdown"><i class="fas fa-user-friends"></i>&nbsp;Perfis</a>
                                                <div class="dropdown-menu" aria-labelledby="perfisAdminDropdown">
                                                    @Html.ActionIcon("user-cog", "Admin", "Perfis Administrativos", new { controller = "Profiles" }, new { @class = "dropdown-item" }, true)
                                                    @Html.ActionIcon("user-edit", "Professors", "Perfis Formadores", new { controller = "Profiles" }, new { @class = "dropdown-item" }, true)
                                                    @Html.ActionIcon("user-graduate", "Students", "Perfis Estudantes", new { controller = "Profiles" }, new { @class = "dropdown-item" }, true)
                                                    @Html.ActionIcon("graduation-cap", "Me", "O Meu Perfil", new { controller = "Profiles" }, new { @class = "dropdown-item" }, true)
                                                </div>
                                            </li>

                                            @Html.ActionIcon("users", "Index", "Turmas", new { controller = "Teams" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("file", "Index", "UFCDs", new { controller = "UFCDs" }, new { @class = "nav-link" }, true)
                                        }

                                        @* Apenas estudante *@
                                        if (User.IsInRole("Estudante"))
                                        {
                                            @Html.ActionIcon("book", "Index", "Cursos", new { controller = "Courses" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("calendar-alt", "Me", "Horário", new { controller = "Schedules" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("plus-square", "Index", "Inscrições", new { controller = "Inscriptions" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("graduation-cap", "Me", "Perfil", new { controller = "Profiles" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("users", "Index", "Turmas", new { controller = "Teams" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("file", "Index", "UFCDs", new { controller = "UFCDs" }, new { @class = "nav-link" }, true)
                                        }

                                        @* Apenas formador *@
                                        if (User.IsInRole("Formador"))
                                        {
                                            @Html.ActionIcon("book", "Index", "Cursos", new { controller = "Courses" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("graduation-cap", "Me", "Perfil", new { controller = "Profiles" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("users", "Index", "Turmas", new { controller = "Teams" }, new { @class = "nav-link" }, true)
                                            @Html.ActionIcon("file", "Index", "UFCDs", new { controller = "UFCDs" }, new { @class = "nav-link" }, true)
                                        }
                                    }
                                }
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    @Html.ActionIcon("phone", "Contact", "Contactos", new { controller = "Home" }, new { @class = "nav-link" }, true)
                                </li>
                                <li class="nav-item">
                                    @Html.ActionIcon("info", "About", "Sobre", new { controller = "Home" }, new { @class = "nav-link" }, true)
                                </li>

                            </ul>
                        </div>
                </div>
            </nav>
        }
    }


    <div class="container body-content">
        @RenderBody()
        <hr />

        @Html.EJS().ScriptManager()
    </div>
    <footer class="footer">
        <div class="container body-content">
            <p>&copy; @DateTime.Now.Year - Pedro Miguel Marcelino Madrugo - <> gestFormandos - PROJECTO ACADÉMICO <></p>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>
