﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "loginNav" }))
    {
        @Html.AntiForgeryToken()
        <div>Olá, @*@User.Identity.GetUserName()*@ @Html.CurrentUserProfileName()</div>
        <div class="btn btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle"></i><span class="sr-only">Toggle dropdown</span>
            </button>
            
            <div class="dropdown-menu dropdown-menu-right">
                @{

                    if (User.IsInRole("Administrativo") || User.IsInRole("Director"))
                    {
                        <div class="dropdown-item">
                            <dt>
                                Nº Adminstrativo
                            </dt>
                            <dd>
                                @Html.GetCurrentUserAdminNumber()
                            </dd>
                        </div>
                    }
                    if (User.IsInRole("Formador"))
                    {
                        <div class="dropdown-item">
                            <dt>
                                Nº Formador
                            </dt>
                            <dd>
                                @Html.GetCurrentUserProfessorNumber()
                            </dd>
                        </div>
                    }
                    if (User.IsInRole("Estudante"))
                    {
                        <div class="dropdown-item">
                            <dt>
                                Nº Estudante
                            </dt>
                            <dd>
                                @Html.GetCurrentUserStudentNumber()
                            </dd>
                        </div>
                    }
                    if (!User.IsInRole("SuperUser"))
                    {
                        <hr />
                    }
                }
                @Html.ActionLink("Gerir Conta", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Gerir Conta", @class = "nav-link" })
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Sair</a>

            </div>
        </div>
    }

}
else
{
    <div class="loginNav">
        <div>Olá, convidado</div>
        <div class="btn btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle"></i><span class="sr-only">Toggle dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
                @Html.ActionLink("Criar Conta", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
                
            </div>
        </div>
    </div>
}