﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<h1 class="text-danger">Erro</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h2 class="text-danger">Aconteceu um erro a processar o pedido, lamentamos qualquer transtorno causado.</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    }
}


