﻿@model gestformandosMVC.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Perfil";
}



<div>
    <div class="row">
        <div class="col-md-6">
            <h2>@Model.Profile.FullName</h2>
            <h4>Perfil</h4>
        </div>
        <div class="col-md-6 text-md-right align-self-center">
            @if (Model.Student != null)
            {
                if (!User.IsInRole("Estudante"))
                {
                    @Html.ActionIcon("user-graduate", "Details", "Avaliação", new { id = Model.Student.Id, controller = "Evaluations" }, new { @class = "btn btn-primary" }, true)
                }
                else if (Model.IsSelf)
                {
                    @Html.ActionIcon("user-graduate", "Me", "Avaliação", new { controller = "Evaluations" }, new { @class = "btn btn-primary" }, true)
                }
            }
            @if (Model.Professor != null)
            {
                if (Model.ProfessorActive)
                {
                    if (User.IsInRole("Director") || User.IsInRole("Administrativo") || User.IsInRole("SuperUser"))
                    {
                        @Html.ActionIcon("chalkboard-teacher", "Teaches", "UFCDs", new { id = Model.Professor.Id }, new { @class = "btn btn-primary" }, true)
                    }
                    else
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionIcon("chalkboard-teacher", "Teaching", "UFCDs", new { id = Model.Professor.Id }, new { @class = "btn btn-primary" }, true)
                        }
                    }
                }
            }
        </div>
    </div>
    
    <hr />
    <div class="row">
        <div class="col-md-4">
            @if (Model.Administration != null)
            {
                <dt>@Html.DisplayNameFor(model => model.Administration.Id)</dt>
                <dd>@Html.DisplayFor(model => model.Administration.Id)</dd>
            }
        </div>
        <div class="col-md-4">
            @if (Model.Professor != null)
            {
                <dt>@Html.DisplayNameFor(model => model.Professor.Id)</dt>
                <dd>@Html.DisplayFor(model => model.Professor.Id)</dd>
            }
        </div>
        <div class="col-md-4">
            @if (Model.Student != null)
            {
                <dt>@Html.DisplayNameFor(model => model.Student.Id)</dt>
                <dd>@Html.DisplayFor(model => model.Student.Id)</dd>
            }
        </div>
    </div>
    @if (Model.Administration != null || Model.Professor != null || Model.Student != null)
    {
        <hr />
    }

<div class="card card-body">
    @{
        if (!string.IsNullOrEmpty(Model.Profile.ImagePath))
        {
        <div class="row">
                <div class="col-md-12 text-center">
                    <img src="@Model.Profile.ImagePath" class="img-responsive" id="imagePreview" />
                </div>
        </div>
        <hr/>
        }
    }
    
    <div class="row">
        <div class="col-md-6">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(model => model.Profile.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profile.FirstName)
            </dd>
        </div>
        <div class="col-md-6">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(model => model.Profile.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profile.LastName)
            </dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(model => model.Profile.Email)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.Email)
            </dd>
        </div>
        <div class="col-md-3">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.GenderId)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.Gender.Name)
            </dd>
        </div>
        <div class="col-md-3">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.VatNumber)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.VatNumber)
            </dd>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.Birthdate)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.Birthdate)
            </dd>
        </div>
        <div class="offset-md-2 col-md-4">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.Birthplace)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.Birthplace)
            </dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.CitizenshipId)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.Citizenship.Citizenship)
            </dd>
        </div>
        <div class="col-md-6">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.NationalityId)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.Nationality.Nationality)
            </dd>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.DocumentTypeId)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.DocumentType.Name)
            </dd>
        </div>
        <div class="col-md-8">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.DocumentNumber)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.DocumentNumber)
            </dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.DocumentEmissionDate)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.DocumentEmissionDate)
            </dd>
        </div>
        <div class="col-md-6">
            <dt class="border-bottom pb-1">
                @Html.DisplayNameFor(m => m.Profile.DocumentExpirationDate)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Profile.DocumentExpirationDate)
            </dd>
        </div>
    </div>
</div>
</div>