﻿@model gestformandosMVC.ViewModels.ProfessorTeachesViewModel
@{
    ViewBag.Title = "Ensina...";
}

@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
    }
    if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
    }
}

<h2>Ensina...</h2>
<div class="row">
    <div class="col-md-6">
        <h4>@Model.FullName</h4>
    </div>
</div>
<br />
@using (Html.BeginForm("Teaches", "Profiles", new { id = Model.Professor.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row form-group">
        <div class="col-md-12">
            <div class="row" id="search-bar">
                <div class="col-md-4">
                    <label for="Ufcds" class="control-label">UFCDs</label>
                </div>
                <div class="col-md-8 row pr-0">
                    <div class="col-3">
                        <p>Pesquisar:</p>
                    </div>
                    <div class="col-9 pr-0">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <select id="Ufcds" name="Ufcds" class="form-control" multiple="multiple">
                @foreach (var ufcd in ViewBag.UFCDList)
                {
                    if (Model.ProfessorCurrentUFCDs.Any(i => i.Id == ufcd.Id))
                    {
                        <option value="@ufcd.Id" selected>@ufcd.Reference - @ufcd.Name</option>
                    }
                    else
                    {
                        <option value="@ufcd.Id">@ufcd.Reference - @ufcd.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group" id="form-controls">
        <div class="col-md-12 d-md-inline-flex">
            <div class="col-12 col-md-6">
                <input type="submit" value="Actualizar" class="btn btn-default" />
            </div>
            <div class="col-12 col-md-6 text-md-right">
                @Html.ActionLink("Voltar", "Details", new { id = Model.Professor.ProfileId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    document.querySelector('#search-bar input').addEventListener('input', (e) => {
        let tableRows = document.querySelectorAll('select#Ufcds option');

        search(tableRows, e.target.value);
    });

    function search(elements, text) {
        for (let element of elements) {
            let txtValue = element.innerText;

            if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                element.style.display = "";
                //element.nextSibling.nextSibling.style.display = "";
            } else {
                element.style.display = "none";
                //element.nextSibling.nextSibling.style.display = "none";
            }
        }
    }
</script>