﻿@model gestformandosMVC.ViewModels.ProfessorTeachesViewModel
@{
    ViewBag.Title = "Ensina...";
}

@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
    }
    if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
    }
}

<h2>Ensina...</h2>
<div class="row">
    <div class="col-md-6">
        <h4>@Model.FullName</h4>
    </div>
</div>
<br />
@using (Html.BeginForm("Teaches", "Profiles", new { id = Model.Professor.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="table-card table-responsive">
        <table class="table">
            <tr>
                <th>UFCD</th>
                <th></th>
            </tr>
            <tr class="table-spacing"></tr>
            @foreach (var ufcd in Model.ProfessorCurrentUFCDs)
            {
                <tr>
                    <td>@ufcd.Reference - @ufcd.Name</td>
                    <td></td>
                </tr>
                <tr class="table-spacing"></tr>
            }
        </table>
    </div>
    <div class="form-group" id="form-controls">
        <div class="col-md-12 d-md-inline-flex">
            <div class="col-12 text-md-right">
                @Html.ActionLink("Voltar", "Details", new { id = Model.Professor.ProfileId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}