﻿@model gestformandosMVC.Data.Entities.Team

@{
    ViewBag.Title = "Criar Nova";
}

<h2>Criar Nova</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Turma</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row form-group">
        <div class="col-md-9">
            @Html.LabelFor(model => model.CourseId, "Curso", htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.EJS().DatePickerFor(model => model.StartDate, new { @class = "form-control" } ).Format("dd/MM/yyyy").Render()
                @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.EJS().DatePickerFor(model => model.EndDate, new { @class = "form-control" }).Format("dd/MM/yyyy").Render()
                @*@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="offset-md-5 col-md-4 row align-self-center text-md-right">
            @Html.LabelFor(model => model.AllowSignins, htmlAttributes: new { @class = "control-label col-md-9 col-9" })
            <div class="checkbox col-md-3 col-3 text-right">
                @Html.EditorFor(model => model.AllowSignins)
                @Html.ValidationMessageFor(model => model.AllowSignins, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group" id="form-controls">
        <div class="col-md-12 d-md-inline-flex">
            <div class="col-12 col-md-6">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
            <div class="col-12 col-md-6 text-md-right">
                @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>
}

