﻿@model gestformandosMVC.ViewModels.Teams.TeamWithStudentsWithUFCDViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <div class="row">
        <div class="col-6">
            <h4>Turma</h4>
        </div>
        <div class="col-6 text-right">
            @if (User.IsInRole("Administrativo") ||
                User.IsInRole("Director") ||
                User.IsInRole("SuperUser"))
            {
                @Html.ActionIcon("chalkboard-teacher", "Lectiveboard", "Quadro Lectivo", new { id = Model.Team.Id }, new { @class = "btn btn-primary" }, true)
            }
            @if (User.IsInRole("Administrativo") ||
                User.IsInRole("Director") ||
                User.IsInRole("SuperUser") ||
                Model.IsTeacher)
            {
                @Html.ActionIcon("user-graduate", "Team", "Avaliações", new { controller = "Evaluations", id = Model.Team.Id }, new { @class = "btn btn-primary" }, true)
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <dt>
                @Html.DisplayNameFor(model => model.Team.Course.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Team.Course.Name)
            </dd>
        </div>
        <div class="col-md-2 text-md-right">
            <dt>
                @Html.DisplayNameFor(model => model.Team.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Team.Name)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Team.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Team.StartDate)
            </dd>
        </div>
        <div class="col-md-4">
            <dt>
                @Html.DisplayNameFor(model => model.Team.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Team.EndDate)
            </dd>
        </div>

        <div class="col-md-4 text-md-right">
            <dt>
                @Html.DisplayNameFor(model => model.Team.Capacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Team.Capacity)
            </dd>
        </div>

        <br />

        <div class="col-md-12 row align-self-md-center">
            <div class="col-md-3">
                <dt>
                    @Html.DisplayNameFor(model => model.Team.AllowSignins)
                </dt>
            </div>
            <div class="col-md-3">
                <dd>
                    @Html.DisplayFor(model => model.Team.AllowSignins)
                </dd>
            </div>
        </div>
    </div>

    <br /> <br />
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentLabel.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfileLabel.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfileLabel.LastName)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Students)
            {
                <tr data-id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profile.LastName)
                    </td>
                    <td></td>
                </tr>
            }
        </table>
    </div>

    <hr /> <br />

    <h4>Quadro Lectivo</h4>
    <br />
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Referência</th>
                <th>UFCD</th>
                <th>Nome</th>
                <th></th>
            </tr>
            <tr class="table-spacing"></tr>
            @foreach (var item in Model.UfcdTeacher)
            {
                <tr>
                    <td>
                        @item.Ufcd.Reference
                    </td>
                    <td>
                        @item.Ufcd.Name
                    </td>
                    <td>
                        @item.SelectedProfessor.FullName
                    </td>
                    <td></td>
                </tr>
                <tr class="table-spacing"></tr>
            }
        </table>
    </div>
</div>

@if (!User.IsInRole("Formador"))
{
    <script type="text/javascript">
    $('tr[data-id]').on('click', function () {
        document.location = `@Url.Action("Details", "Evaluations")\\${$(this).data('id')}`;
    })
    </script>
}

<p>
    @*<div id="form-controls">
            <div class="col-md-12 d-md-inline-flex">

                <div class="col-12 col-md-6">
                    @if (User.IsInRole("Administrativo") ||
                               User.IsInRole("Director") ||
                               User.IsInRole("SuperUser"))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                    }
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>*@
</p>
