﻿@model gestformandosMVC.ViewModels.LectiveboardViewModel
@{
    ViewBag.Title = "Lectiveboard";
}

@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
    }
    if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
    }
}

<h2>Quadro Lectivo</h2>
<h4>@Model.Team.Name</h4>

<div class="table-card table-responsive">
    @using (Html.BeginForm("Lectiveboard", "Teams", new { id = Model.Team.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <table class="table">
            <tr>
                <th>UFCD</th>
                <th>Formador</th>
            </tr>
            <tr class="table-spacing"></tr>
            @foreach (var ufcd in Model.UFCDs)
            {
                <tr>
                    <td>
                        @ufcd.Ufcd.Name
                    </td>
                    <td>
                        <select id="@ufcd.Ufcd.Id" name="@ufcd.Ufcd.Id" class="form-control">
                            <option value="0">[Por favor escolha um formador...]</option>
                            @foreach (var professor in ufcd.Professors.Skip(1))
                            {
                                if (Model.CurrentSelected.Any(x => x.ProfessorId == professor.Professor.ElementAt(0).Id))
                                {
                                    <option value="@professor.Professor.ElementAt(0).Id" selected>@professor.Professor.ElementAt(0).Id - @professor.FullName</option>
                                }
                                else
                                {
                                    <option value="@professor.Professor.ElementAt(0).Id">@professor.Professor.ElementAt(0).Id - @professor.FullName</option>
                                }
                            }
                        </select>
                    </td>
                    <td class="d-none"></td>
                </tr>
                <tr class="table-spacing"></tr>
            }
        </table>
        <div class="form-group" id="form-controls">
            <div class="col-md-12 d-md-inline-flex">
                <div class="col-12 col-md-6">
                    <input type="submit" value="Actualizar" class="btn btn-default" />
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    @if (User.IsInRole("Administrativo") ||
                        User.IsInRole("Director") ||
                        User.IsInRole("SuperUser") ||
                        User.IsInRole("Formador"))
                    {
                        @Html.ActionLink("Voltar", "DetailsStudents", new { id = Model.Team.Id }, new { @class = "btn btn-default" })
                    }
                    else
                    {
                        @Html.ActionLink("Voltar", "Details", new { id = Model.Team.Id }, new { @class = "btn btn-default" })
                    }

                </div>
            </div>
        </div>
    }
</div>
