﻿@model gestformandosMVC.Data.Entities.Country

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>País</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row form-group">
			<div class="col-md-12">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
				<div>
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
						</div>
			</div>
		</div>

        <div class="row form-group">
			<div class="col-md-12">
            @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label col-md-2" })
				<div>
						@Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
						</div>
			</div>
		</div>

        <div class="row form-group">
			<div class="col-md-12">
            @Html.LabelFor(model => model.Citizenship, htmlAttributes: new { @class = "control-label col-md-2" })
				<div>
						@Html.EditorFor(model => model.Citizenship, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.Citizenship, "", new { @class = "text-danger" })
						</div>
			</div>
		</div>

        <div class="form-group" id="form-controls">
			<div class="col-md-12 d-md-inline-flex">
				<div class="col-12 col-md-6">
					<input type="submit" value="Guardar" class="btn btn-default" />
				</div>
				<div class="col-12 col-md-6 text-md-right">
					@Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
				</div>
			</div>
		</div>
    </div>
}
