﻿@{
    ViewBag.Title = "Confirmar Email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>Obrigado por confirmar o seu email.</p>
    <p>Por favor @Html.ActionLink("Clique aqui para iniciar a sessão", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>

    <p>Bem-Vindo!</p>
</div>
