﻿@{
    ViewBag.Title = "Confirmação de Recuperação de Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Por favor verifique o seu e-mail para proceder à recuperação da sua password.
    </p>
</div>
	
