﻿@model gestformandosMVC.ViewModels.NewAccountViewModel

@{
    ViewBag.Title = "Criar uma conta";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RegisterInternalAccount", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Crie um perfil na plataforma gestFormandos</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            @Html.LabelFor(m => m.GenderId, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.DropDownList("GenderId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            @Html.LabelFor(m => m.VatNumber, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.VatNumber, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            @Html.LabelFor(m => m.Birthdate, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @*@Html.TextBoxFor(m => m.Birthdate, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker" })*@
                @Html.EJS().DatePickerFor(m => m.Birthdate, new { @class = "form-control" }).Format("dd/MM/yyyy").Render()
            </div>
        </div>
        <div class="col-md-8">
            @Html.LabelFor(m => m.Birthplace, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Birthplace, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(m => m.CitizenshipId, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.DropDownList("CitizenshipId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CitizenshipId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.NationalityId, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.DropDownList("NationalityId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NationalityId, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-4">
            @Html.LabelFor(m => m.DocumentTypeId, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DocumentTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-8">
            @Html.LabelFor(m => m.DocumentNumber, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.DocumentEmissionDate, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @*@Html.TextBoxFor(m => m.DocumentEmissionDate, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker" })*@
                @Html.EJS().DatePickerFor(m => m.DocumentEmissionDate, new { @class = "form-control" }).Format("dd/MM/yyyy").Render()
            </div>
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.DocumentExpirationDate, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @*@Html.TextBoxFor(m => m.DocumentExpirationDate, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker" })*@
                @Html.EJS().DatePickerFor(m => m.DocumentExpirationDate, new { @class = "form-control" }).Format("dd/MM/yyyy").Render()
            </div>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-12 text-center">
            <img src="" class="img-responsive" id="imagePreview" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 text-center">
            @Html.LabelFor(m => m.ImageURL, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <span class="btn btn-default btn-file">
                    @Html.TextBoxFor(m => m.ImageURL, new { type = "file", id = "imageUpload" })
                </span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col-md-4">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.ChosenRole, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.DropDownListFor(m => m.ChosenRole, (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.ChosenRole, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function PreviewImage() {
        var preview = document.querySelector('#imagePreview');
        var file = document.querySelector('#imageUpload').files[0];

        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        }
        else {
            preview.src = "";
        }
    }

    document.querySelector('#imageUpload').addEventListener('change', () => {
        PreviewImage();
    });

    $('.date-picker').datepicker({ dateFormat: 'dd/mm/yy' });
</script>