﻿@{
    ViewBag.Title = "Confirmação de Redefinição da Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        A sua password foi redefinida com sucesso.
    </p>
    <p>
        @Html.ActionLink("Clique aqui para iniciar sessão.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
