﻿@model gestformandosMVC.Data.Entities.Course

@{
    ViewBag.Title = "Detalhes";
}

    <h2>Detalhes</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <div class="row">

        <div class="col-md-9 order-md-0 order-1">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>
        <div class="col-md-3 text-md-right order-md-0">
            <dt>
                @Html.DisplayNameFor(model => model.Reference)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reference)
            </dd>
        </div>
        <div class="col-md-12 order-md-0 order-1">
            <dt>
                <p>UFCDs</p>
            </dt>

            <dd>
                <ul class="list-group">
                    @{
                        foreach (var item in Model.Ufcds)
                        {
                            <a class="list-group-item list-group-item-action" href="/Ufcds/Details/@item.Id">
                                @item.Reference - @item.Name
                            </a>
                        }
                    }
                </ul>
            </dd>
        </div>

    </div>
</div>
<p>
	<div id="form-controls">
		<div class="col-md-12 d-md-inline-flex">
            <div class="col-12 col-md-6">
                @{
                    if (User.IsInRole("Administrativo") ||
                        User.IsInRole("Director") ||
                        User.IsInRole("SuperUser"))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                    }
                }
            </div>
			<div class="col-12 col-md-6 text-md-right">
				@Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
			</div>
		</div>
	</div>
</p>
