﻿@model gestformandosMVC.Data.Entities.Course

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Curso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <div class="form-group row pl-3">
                    <div class="col-md-4">
                        <label for="Ufcds" class="control-label">UFCDs</label>
                    </div>
                    <div class="col-md-8 row pr-0">
                        <div class="col-3">
                            <p>Pesquisar:</p>
                        </div>
                        <div class="col-9 pr-0">
                            <input type="text" id="search-bar" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <select id="Ufcds" name="Ufcds" class="form-control" multiple="multiple">
                    @foreach (var ufcd in ViewBag.UFCDList)
                    {
                        if (Model.Ufcds.Any(i => i.Id == ufcd.Id))
                        {
                            <option value="@ufcd.Id" selected>@ufcd.Reference - @ufcd.Name</option>
                        }
                        else
                        {
                            <option value="@ufcd.Id">@ufcd.Reference - @ufcd.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group" id="form-controls">
            <div class="col-md-12 d-md-inline-flex">
                <div class="col-12 col-md-6">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    document.querySelector('#search-bar input').addEventListener('input', (e) => {
        let tableRows = document.querySelectorAll('select#Ufcds option');

        search(tableRows, e.target.value);
    });

    function search(elements, text) {
        for (let element of elements) {
            let txtValue = element.innerText;

            if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                element.style.display = "";
                //element.nextSibling.nextSibling.style.display = "";
            } else {
                element.style.display = "none";
                //element.nextSibling.nextSibling.style.display = "none";
            }
        }
    }
</script>
