﻿@import "Bootstrap/_functions.scss";
@import "Bootstrap/_variables.scss";
@import "Bootstrap/mixins/_breakpoints.scss";
@font-face {
    font-family: 'Ubuntu';
    src: url('Fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root, body {
    font-family: 'Ubuntu', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav.navbar {
    display: grid;

    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: max-content 1fr;
}

.navigation {
    display: flex;

    justify-content: flex-end;

    grid-row: 1;
    grid-column: 2;
}

.navbar-collapse {
    flex-grow: 0;
}

.loginNav {
    display: flex;

    align-content: center;
    align-items: center;
    vertical-align: middle;


    padding-left: 1em;

    grid-row: 1;
    grid-column: 3;
}

.loginNav {
    color: rgba(255, 255, 255, 0.5);

    & > div > a {
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: rgba(255, 255, 255, 0.75);
            text-decoration: none;
        }
    }

    & div.btn-group > button {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: rgba(255, 255, 255, 0.75);
        }
    }

    
}

.navbar-brand {
    font-size: 1.65em;
}

input,
select,
textarea {
    max-width: 100%;
}

.navbar-dark a.navbar-brand {
    color: rgba(255,255,255, 1);

    &:hover {
        color: rgba(255,255,255,0.75);
    }
}

.table {
    border-collapse: collapse;
    border-spacing: 0 1em;
    
    width: 99%;
}

.table-spacing {
    display: none;
}

:not(.table-card) {
    & tr {
        &:not(:first-child):hover {
            background-color: rgba(0,0,0,0.05);
        }
    }
}

.table-individual-cells {
    & tr {
        &:not(:first-child):hover {
            background-color: initial;
        }
    }

    & tr:not(:first-child) {
        & td:not(:first-child):hover {
            background-color: rgba(0,0,0,0.05);
        }
    }
}

.table-card {
    & table {
        margin: 0 auto;
    }

    & tr {
        &:first-child th {
            border-bottom: 1px $table-border-color solid;
        }

        &.table-spacing {
            height: 0.8em;
            display: table-row;
            border: 0px;
        }

        &:not(:first-child):not(.table-spacing) {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-left: rgba(0,0,0,0.2) 1px solid;
            border-right: rgba(0,0,0,0.2) 1px solid;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
        }

        & td {
            align-content: center;
            vertical-align: middle;

            &:last-child {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                flex-direction: row;
            }

            & a, button {
                width: 45px;
                margin: 0.1em;
            }
        }
    }
}

#form-controls {
    margin-top: 1.5em;

    & input, a {
        margin-bottom: 0.4em;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
}

.list-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.form-group {
    margin-bottom: 0rem;

    & > div {
        margin-bottom: 1rem;
    }
}

#search-bar {
    & p {
        padding: $input-padding-y $input-padding-x;
    }


    & input {
        padding: $input-padding-y $input-padding-x;
        width: 100%;
        margin-bottom: 1em;
    }
}

.subnavigation {
    justify-content: initial;

    & .dropdown-item:hover {
        color: white;
        background-color: $tertiary;
    }

    .actionIcon > a {
        & i {
            padding: 5px;
            width: 2em;
            text-align: center;
        }
    }
}

.body-content {
    & .actionIcon {
        display: inline-block;
    }
}

.e-date-wrapper {
    //height: calc(1.5em + $input-btn-padding-y - 4px);
    padding: $input-btn-padding-y/2 $input-btn-padding-x;
    //line-height: 1.5 !important;
}

@media screen and (max-width:1300px) {
    tr td:last-child {
        display: table-cell;
        vertical-align: middle;
    }
}

@include media-breakpoint-up(xl) {
    .body-content {
        max-width: 90%;
    }
}


@include media-breakpoint-between(md, lg)
{
    .table-card tr td:last-child {
        display: grid !important;
    }
}
@include media-breakpoint-up(lg) {
    .table-card tr td:last-child {
        //max-width: 200px;
        //display: grid !important;
        text-align: right;
    }
}

@include media-breakpoint-down(lg) {
    tr td:last-child {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
    }
}

@include media-breakpoint-down(md) {
    .body-content {
        max-width: initial;
    }

    .loginNav {
        grid-column: 3;
    }

    .navigation {
        grid-row: 2;
        grid-column: 1/ span 3;
    }

    #navbarSupportedContent,
    #secondaryNavbarSupportedContent {
        border-top: 1px solid rgba(255,255,255,0.5);
    }

    #form-controls {
        margin-top: 2.5em;

        & input, a {
            width: 100%;
        }
    }

    #calendar {
        & .fc-left, .fc-right {
            display: grid;
            align-content: center;

            grid-template-rows: 1fr 1fr;

            & * {
                width: 100%;
                margin-left: initial;
            }
        }

        .fc-center h2 {
            padding-left: 0.25em;
            padding-right: 0.25em;

            text-align:center;
        }
    }
}

@include media-breakpoint-up(xs) {
    #search-bar {
        & p {
            padding-left: 0;
        }
    }
}

@include media-breakpoint-down(xs) {
    #search-bar {
        & p {
            padding: 0;

            margin-bottom: 0.5rem;
        }
    }
}


@media screen and (max-width:350px) {
    :root {
        font-size: 0.65rem;
    }
}

@media screen and (min-width:351px) and (max-width:425px) {
    :root {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 535px)
{
    .table-card {
        & tr {
            & td:last-child {
                display: grid;
            }
        }
    }
}

@media screen and (min-width:1170px) and (max-width:1250px) {
    .table-card {
        & tr {
            & td:last-child {
                display: grid;
            }
        }
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2em; /* Vertically center the text there */
    margin: 0 auto;
    
}

#imagePreview {
    max-height: 500px;
}