﻿@model gestformandosMVC.Data.Entities.Schedule
@using gestformandosMVC.Data.Entities;
@{
    ViewBag.Title = "Criar Novo";
}

@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p><div class="card card-body"><span class="text-danger">@ViewBag.ErrorMessage</span></div></p>
    }
}

<h2>Criar Novo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Horário</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row form-group">
            <div class="col-md-6">
                <label for="ufcdList">UFCD</label>
                <select name="ufcdList" id="ufcdList" class="form-control">
                    <option value="0">[Por favor escolha uma UFCD...]</option>
                    @if (ViewBag.Ufcds != null)
                    {
                        foreach (var ufcd in (List<Ufcd>)ViewBag.Ufcds)
                        {
                            <option value="@ufcd.Id">@ufcd.Reference - @ufcd.Name</option>
                        }
                    }
                </select>

            </div>
            <div class="col-md-6">
                <label for="professorList">Formador</label>
                <input type="hidden" name="professor" value="0" />
                <p id="professor"></p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.BeginDateTime, htmlAttributes: new { @class = "control-label col-md-12" })
                <div>
                    @Html.EJS().DateTimePickerFor(model => model.BeginDateTime, new { @class = "form-control" }).ShowTodayButton().Placeholder("Inicia em...").Format("dd/MM/yyyy HH:MM").TimeFormat("HH:MM").Render()
                    @Html.ValidationMessageFor(model => model.BeginDateTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.EndDateTime, htmlAttributes: new { @class = "control-label col-md-12" })
                <div>
                    @Html.EJS().DateTimePickerFor(model => model.EndDateTime, new { @class = "form-control" }).ShowTodayButton().Placeholder("Termina em...").Format("dd/MM/yyyy HH:MM").TimeFormat("HH:MM").Render()
                    @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group" id="form-controls">
            <div class="col-md-12 d-md-inline-flex">
                <div class="col-12 col-md-6">
                    <input type="submit" value="Adicionar" class="btn btn-default" />
                </div>
                <div class="col-12 col-md-6 text-md-right">
                    @Html.ActionLink("Voltar", "Team", new { id = ViewBag.teamID }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

<script>
    function getProfessorName() {
        let selectedUFCD = document.querySelector('#ufcdList').value;
        $.ajax({
            url: `@Url.Action("Teaches")?teamID=@ViewBag.teamID&ufcdID=${selectedUFCD}`,
            method: "Post",
            error: (xHr, requestError, thrownErrors) => {
                console.log(thrownErrors);
            },
            success: (response) => {
                document.querySelector('input[name="professor"]').value = response.id;
                document.querySelector('#professor').innerHTML = response.professor;
            }
        });
    }

    document.querySelector('#ufcdList').addEventListener('change', (e) => {
        if (e.target.value != 0) {
            getProfessorName();
        }
        else {
            document.querySelector('input[name="professor"]').value = "0";
            document.querySelector('#professor').innerHTML = "[Escolha primeiro uma UFCD...]";
        }
    });
</script>

