﻿@model IEnumerable<gestformandosMVC.Data.Entities.Schedule>
@{
    ViewBag.Title = "Calendário";
}

<h2>Calendário</h2>
<h4></h4>
<br />
<div>
    <div id="calendar"></div>
</div>

<link rel="stylesheet" href="~/Scripts/full-calendar/core/main.css" />
<link rel="stylesheet" href="~/Scripts/full-calendar/daygrid/main.css" />
<link rel="stylesheet" href="~/Scripts/full-calendar/timegrid/main.css" />

<script type="text/javascript" src="~/Scripts/full-calendar/core/main.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/daygrid/main.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/timegrid/main.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/moment/main.js"></script>

<script>
    var calendarElement = document.querySelector('#calendar');
    var calendar = new FullCalendar.Calendar(calendarElement, {
        plugins: ['dayGrid', 'timeGrid'],
        locale: 'pt',
        defaultView: 'timeGridWeek',
        buttonText: {
            week: 'Semana',
            day: 'Dia',
            month: 'Mês',
            today: 'Hoje'
        },
        header: {
            left: 'prev next',
            center: 'title',
            right: 'dayGridMonth timeGridWeek'
        },
        //events:
    });

    calendar.render();
</script>