﻿@model int?
@{
    ViewBag.Title = "Calendário";
}

<h2>Calendário</h2>
<h4></h4>
<br />
<div>
    <div id="calendar"></div>
</div>

<link rel="stylesheet" href="~/Scripts/full-calendar/core/main.css" />
<link rel="stylesheet" href="~/Scripts/full-calendar/daygrid/main.css" />
<link rel="stylesheet" href="~/Scripts/full-calendar/timegrid/main.css" />

<script type="text/javascript" src="~/Scripts/full-calendar/core/main.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/daygrid/main.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/timegrid/main.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/moment/main.js"></script>

<div class="modal fade" id="scheduleModal" aria-labelledby="ModalSchedule" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display:initial;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="team" class="modal-title"></h3>
                <h5 id="ufcd" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <input hidden="hidden" name="scheduleId" id="scheduleId" value="" />
                <input hidden="hidden" name="hasClassId" id="hasClassId" value="" />
                @using (Html.BeginForm())
                {
                    <h3></h3>
                    <div class="row pl-2 pr-2">
                        <div class="col-8">
                            <p>
                                Formador Presente?
                            </p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" name="isTeacherPresent" id="isTeacherPresent" />
                        </div>
                    </div>
                    <hr/>
                    <h4>Alunos</h4>
                    <div id="studentList">

                    </div>
                }

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<script>
    var calendarElement = document.querySelector('#calendar');
    var calendarWidget = startACalendar();

    function getCurrentStudent() {
        return @Model;
    }

    function startACalendar() {
        return new FullCalendar.Calendar(calendarElement, {
            plugins: ['dayGrid', 'timeGrid'],
            locale: 'pt',
            defaultView: 'timeGridWeek',
            buttonText: {
                week: 'Semana',
                day: 'Dia',
                month: 'Mês',
                today: 'Hoje'
            },
            header: {
                left: 'prev next',
                center: 'title',
                right: 'dayGridMonth timeGridWeek'
            },
            eventClick: (info) => {
                document.querySelector('#scheduleId').value = (info.event.id || 'new');
                document.querySelector('#hasClassId').value = (info.event.extendedProps.hasClassesId || 'new');
                document.querySelector('#isTeacherPresent').checked = (info.event.extendedProps.isProfessorPresent || false);
                document.querySelector('#isTeacherPresent').disabled = 'true';

                let studentArea = document.querySelector('#studentList');
                studentArea.innerHTML = "";

                for (let student of info.event.extendedProps.studentList) {
                    let formGroup = document.createElement('div');
                    formGroup.className = "row form-group pl-2 pr-2"

                    let formName = document.createElement('div');
                    formName.className = "col-8";
                    formName.appendChild(document.createTextNode(student.FullName));

                    formGroup.appendChild(formName);

                    let formCheckP = document.createElement('p');
                    let formCheck = document.createElement('input');
                    formCheckP.className = "col-4 text-right";
                    formCheck.setAttribute('type', 'checkbox');
                    formCheck.setAttribute('id', student.StudentId);
                    formCheck.setAttribute('name', student.StudentId);
                    formCheck.setAttribute('disabled', 'true');

                    formCheckP.appendChild(formCheck);

                    formGroup.appendChild(formCheckP);
                    studentArea.appendChild(formGroup);
                }

                document.querySelector('#team').innerHTML = info.event.extendedProps.team;
                document.querySelector('#ufcd').innerHTML = info.event.extendedProps.ufcd;

                $('#scheduleModal').modal('show');
            },
            allDayText: "Dia Inteiro"
        });
    }

    function loadSchedule() {
        $.ajax({
            url: `@Url.Action("Student", new { id = Model })`,
            method: "POST",
            error: (xhr, ajaxOptions, thrownErrors) => {
                console.log(thrownErrors);
            },
            success: (response) => {
                calendarWidget.destroy('calendar');
                calendarWidget = startACalendar();
                calendarWidget.render();

                for (let event of response) {
                    calendarWidget.addEvent(event);
                }
            }
        });
    }

    loadSchedule();
</script>