﻿@model int?
@{
    ViewBag.Title = "Calendário";
}


<div class="row">
        <div class="col-md-6">
            <h2>Calendário</h2>
        </div>
        <div class="col-md-6 text-md-right align-self-center">
            @if (User.IsInRole("Administrativo") ||
                User.IsInRole("Director") ||
                User.IsInRole("SuperUser"))
            {
                @Html.ActionIcon("plus", "Create", "Criar Novo", new { id = Model }, new { @class = "btn btn-primary" }, true)
            }
        </div>
    
</div>
<br />
<div>
    <div id="calendar"></div>
</div>

<link rel="stylesheet" href="~/Scripts/full-calendar/core/main.css" />
<link rel="stylesheet" href="~/Scripts/full-calendar/daygrid/main.css" />
<link rel="stylesheet" href="~/Scripts/full-calendar/timegrid/main.css" />

<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/core/main.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/daygrid/main.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/timegrid/main.js"></script>
<script type="text/javascript" src="~/Scripts/full-calendar/moment/main.js"></script>

<div class="modal fade" id="scheduleModal" aria-labelledby="ModalSchedule" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display:initial;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="team" class="modal-title"></h3>
                <h5 id="ufcd" class="modal-title"></h5>
            </div>

            @using (Ajax.BeginForm("Update", new AjaxOptions() { HttpMethod = "Post", AllowCache = false,OnComplete = "closeModal" }))
            {
                <div class="modal-body">
                    <input hidden="hidden" name="scheduleId" id="scheduleId" value="" />
                    <input hidden="hidden" name="hasClassId" id="hasClassId" value="" />

                    <h3></h3>
                    <div class="row pl-2 pr-2">
                        <div class="col-8">
                            <p>
                                Formador Presente?
                            </p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" name="isTeacherPresent" id="isTeacherPresent" />
                        </div>
                    </div>
                    <hr />
                    <h4>Alunos</h4>
                    <div id="studentList">

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-1">
                        @if (User.IsInRole("Administrativo") ||
                User.IsInRole("Director") ||
                User.IsInRole("SuperUser"))
                        {
                            @Html.ActionIcon("trash-alt", "Delete", "Remover", new { }, new { @id = "delete", @class = "btn btn-danger" })
                        }
                    </div>
                    <div class="col-11 text-right">
                        @if (User.IsInRole("Administrativo") ||
                User.IsInRole("Director") ||
                User.IsInRole("SuperUser"))
                        {
                            @Html.ActionIcon("edit", "Edit", "Editar", new { }, new { @id = "edit", @class = "btn btn-primary" }, true)
                        }

                        <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>&nbsp;Submeter</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script>
    var calendarElement = document.querySelector('#calendar');
    var calendarWidget = startACalendar();

    function getCurrentStudent() {
        return @Model;
    }

    function startACalendar() {
        return new FullCalendar.Calendar(calendarElement, {
            plugins: ['dayGrid', 'timeGrid'],
            locale: 'pt',
            defaultView: 'timeGridWeek',
            buttonText: {
                week: 'Semana',
                day: 'Dia',
                month: 'Mês',
                today: 'Hoje'
            },
            header: {
                left: 'prev next',
                center: 'title',
                right: 'dayGridMonth timeGridWeek'
            },
            eventClick: (info) => {
                document.querySelector('#scheduleId').value = (info.event.id || 'new');
                document.querySelector('#hasClassId').value = (info.event.extendedProps.hasClassesId || 'new');
                document.querySelector('#isTeacherPresent').checked = (info.event.extendedProps.isProfessorPresent || false);

                let studentArea = document.querySelector('#studentList');
                studentArea.innerHTML = "";

                for (let student of info.event.extendedProps.studentList) {
                    let formGroup = document.createElement('div');
                    formGroup.className = "row form-group pl-2 pr-2"

                    let formName = document.createElement('div');
                    formName.className = "col-8";
                    formName.appendChild(document.createTextNode(student.FullName));

                    formGroup.appendChild(formName);

                    let formCheckP = document.createElement('p');
                    let formCheck = document.createElement('input');
                    formCheckP.className = "col-4 text-right";
                    formCheck.setAttribute('type', 'checkbox');
                    formCheck.setAttribute('id', `student-${student.StudentId}`);
                    formCheck.setAttribute('name', `student-${student.StudentId}`);

                    if (student.Present) {
                        formCheck.setAttribute('checked', 'checked');
                    }

                    formCheckP.appendChild(formCheck);

                    formGroup.appendChild(formCheckP);
                    studentArea.appendChild(formGroup);
                }

                document.querySelector('#team').innerHTML = info.event.extendedProps.team;
                document.querySelector('#ufcd').innerHTML = info.event.extendedProps.ufcd;

                @if (User.IsInRole("Administrativo") ||
                                    User.IsInRole("Director") ||
                                    User.IsInRole("SuperUser"))
                {
                    <text>document.querySelector('#edit').href = `@Url.Action("Edit")/${info.event.id}`;</text>
                }


                $('#delete').on('click', (e) => {
                    e.preventDefault();

                    confirmDelete(info.event.id);
                });

                $('#scheduleModal form').attr('action', `@Url.Action("Update")/${info.event.id}`);

                $('#scheduleModal').modal('show');
            },
            allDayText: "Dia Inteiro"
        });
    }

    function loadSchedule() {
        $.ajax({
            url: `@Url.Action("Team", new { id = Model })`,
            method: "POST",
            error: (xhr, ajaxOptions, thrownErrors) => {
                console.log(thrownErrors);
            },
            success: (response) => {
                calendarWidget.destroy('calendar');
                calendarWidget = startACalendar();
                calendarWidget.render();

                for (let event of response) {
                    calendarWidget.addEvent(event);
                }
            }
        });
    }

    function closeModal() {
        $('#scheduleModal').modal('hide');
        loadSchedule();
    }

    function confirmDelete(id) {
        let confirmR = confirm("Certeza que deseja remover este horário?");
        if (confirmR === true) {
            $.ajax({
                url: `@Url.Action("Delete")/${id}`,
                method: "POST",
                error: (xhr, ajaxOptions, thrownErrors) => {
                    console.log(thrownErrors);
                },
                success: (response) => {
                    closeModal();
                }
            })
        }
    }

    loadSchedule();
</script>