﻿@model IEnumerable<gestformandosMVC.Data.Entities.Inscription>
@using gestformandosMVC.Extensions.HtmlHelpers

@{
    ViewBag.Title = "Inscrições Pendentes";
}

@{
    if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
    }
}

<div class="row list-header">
    <div class="col-6">
        <h2>Inscrições Pendentes</h2>
    </div>

    <div class="col-6 text-right">
        @*@Html.ActionIcon("plus-circle", "Create", "Criar Novo", new { @class = "btn btn-default" }, true)*@
    </div>
</div>
<div class="row" id="search-bar">
    <div class="col-sm-3 col-md-2">
        <p>Pesquisar:</p>
    </div>
    <div class="col-sm-9 col-md-10">
        <input type="text" />
    </div>
</div>
<div class="table-responsive table-card">
    <table class="table">
        <tr>
            <th>
                Nº Estudante
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Profile.FullName)
            </th>
            <th>
                Turma
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>Aprovar</th>
        </tr>
        <tr class="table-spacing"></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Profile.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#acceptModal" data-item-id="@item.Id"><i class="fas fa-check"></i></button>
                   
                    @*
                        @Html.ActionIcon("check", "Approve", "Aprovar", new { id = item.Id }, new { @class = "btn btn-success" })
        @Html.ActionIcon("edit", "Edit", "Editar", new { id = item.Id }, new { @class = "btn btn-info" })
        @Html.ActionIcon("info-circle", "Details", "Detalhes", new { id = item.Id }, new { @class = "btn btn-info" })

                    *@
                </td>
            </tr>
            <tr class="table-spacing"></tr>

        }

    </table>
</div>


    <div class="modal fade" id="acceptModal" aria-labelledby="ModalAccept" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aprovar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem a certeza que deseja aprovar este registo?</p>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Approve", ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "approveModalForm", @class = "" }))
                    {
                        @Html.AntiForgeryToken()

                        <input type="submit" id="confirmApprove" class="btn btn-primary" value="Aprovar" />
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
    // On showing modal
    $('#acceptModal').on('show.bs.modal', (e) => {
        $(this).data('itemId', $(e.relatedTarget).data('itemId'));
    });

    $('#acceptModal').on('click', '#confirmApprove', (e) => {
        $('#approveModalForm').attr('action', `@Url.Action("Approve")/${$(this).data('itemId')}`);
    });

    document.querySelector('#search-bar input').addEventListener('input', (e) => {
        let tableRows = document.querySelectorAll('tr:not(:first-child):not(.table-spacing)');

        search(tableRows, e.target.value);
    });

    function search(elements, text) {
        for (let element of elements) {
            let txtValue = element.innerText;

            if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                element.style.display = "";
                element.nextSibling.nextSibling.style.display = "";
            } else {
                element.style.display = "none";
                element.nextSibling.nextSibling.style.display = "none";
            }
        }
    }
</script>


