﻿@model IEnumerable<gestformandosMVC.Data.Entities.Inscription>
@using gestformandosMVC.Extensions.HtmlHelpers

@{
    ViewBag.Title = "Inscrições";
}
<div class="row list-header">
<div class="col-6">
<h2>Inscrições</h2>
</div>

    <div class="col-6 text-right">
        @Html.ActionIcon("plus-circle", "Create", "Criar Novo", new { @class = "btn btn-default" }, true)
    </div>
</div>
<div class="row" id="search-bar">
    <div class="col-sm-3 col-md-2">
        <p>Pesquisar:</p>
    </div>
    <div class="col-sm-9 col-md-10">
        <input type="text" />
    </div>
</div>
<div class="table-responsive table-card">
	<table class="table">
		<tr>
					<th>
				Turma
			</th>
					<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
					<th>
				@Html.DisplayNameFor(model => model.Accepted)
			</th>
				@*<th></th>*@
		</tr>
		<tr class="table-spacing"></tr>
	@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td class="text-left">
            @Html.DisplayFor(modelItem => item.Accepted)
        </td>
        @*<td>
                        @Html.ActionIcon("edit", "Edit", "Editar", new { id = item.Id }, new { @class = "btn btn-info" })
        @Html.ActionIcon("info-circle", "Details", "Detalhes", new { id = item.Id }, new { @class = "btn btn-info" })
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-item-id="@item.Id"><i class="fas fa-trash-alt"></i></button>
        </td>*@
    </tr>
		<tr class="table-spacing"></tr>

	}

	</table>
</div>


<div class="modal fade" id="deleteModal" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem a certeza que deseja remover este registo?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "deleteModalForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="submit" id="confirmDelete" class="btn btn-primary" value="Remover"/>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    // On showing modal
    $('#deleteModal').on('show.bs.modal', (e) => {
        $(this).data('itemId', $(e.relatedTarget).data('itemId'));
    });

    $('#deleteModal').on('click', '#confirmDelete', (e) => {
        $('#deleteModalForm').attr('action', `@Url.Action("Delete")/${$(this).data('itemId')}`);
    });

    document.querySelector('#search-bar input').addEventListener('input', (e) => {
        let tableRows = document.querySelectorAll('tr:not(:first-child):not(.table-spacing)');

        search(tableRows, e.target.value);
    });

    function search(elements, text) {
        for (let element of elements) {
            let txtValue = element.innerText;

            if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                element.style.display = "";
                element.nextSibling.nextSibling.style.display = "";
            } else {
                element.style.display = "none";
                element.nextSibling.nextSibling.style.display = "none";
            }
        }
    }
</script>


