﻿@model gestformandosMVC.ViewModels.UserViewModel
@{
    ViewBag.Title = "Adicionar Cargo";
}

<h2>Adicionar Cargo</h2>
<h5>@Model.Username</h5>
<br/>
@using (Html.BeginForm("AddRole", "Users", new { userID = Model.UserID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Role.RoleID, "Cargo", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Role.RoleID, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <br />

    <input type="submit" value="Adicionar Cargo" class="btn btn-primary" />
</div>
}

