﻿@model IEnumerable<gestformandosMVC.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Index";
}

    <div class="row list-header">
        <div class="col-6">
            <h2>Lista de Utilizadores</h2>
        </div>

        <div class="col-6 text-right">
            @Html.ActionIcon("plus-circle", "RegisterInternalAccount", "Criar Novo", new { controller = "Account" }, new { @class = "btn btn-default" }, true)
        </div>
    </div>

<div class="row" id="search-bar">
    <div class="col-sm-3 col-md-2">
        <p>Pesquisar:</p>
    </div>
    <div class="col-sm-9 col-md-10">
        <input type="text" />
    </div>
</div>
<div class="table-responsive table-card">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        <span style="display:block;">@role.Name</span>
                    }
                </td>
                <td>
                    @Html.ActionIcon("user-tag", "Roles", "Alterar" ,new { UserID = item.UserID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
            <tr class="table-spacing"></tr>
        }
    </table>
</div>

<div class="modal fade" id="deleteModal" aria-labelledby="exampleModalLabel" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Apagar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem a certeza que deseja apagar este registo?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "deleteModalForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="submit" id="confirmDelete" class="btn btn-primary" value="OK" />
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // On showing modal
    $('#deleteModal').on('show.bs.modal', (e) => {
        $(this).data('itemId', $(e.relatedTarget).data('itemId'));
    });

    $('#deleteModal').on('click', '#confirmDelete', (e) => {
        $('#deleteModalForm').attr('action', `@Url.Action("Delete")/${$(this).data('itemId')}`);
    });

    document.querySelector('#search-bar input').addEventListener('input', (e) => {
        let tableRows = document.querySelectorAll('tr:not(:first-child):not(.table-spacing)');

        search(tableRows, e.target.value);
    });

    function search(elements, text) {
        for (let element of elements) {
            let txtValue = element.innerText;

            if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                element.style.display = "";
            } else {
                element.style.display = "none";
            }
        }
    }
</script>