﻿@model gestformandosMVC.ViewModels.UserViewModel
@{
    ViewBag.Title = "Cargos";
}

<div class="row">
    <div class="col-md-8">
        <h2>Cargos do Utilizador</h2>
        <h5>@Model.Username</h5>
    </div>
    <div class="col-md-4 text-md-right align-self-center">
        @Html.ActionIcon("plus-circle", $"AddRole", "Adicionar Cargo", new { userID = Model.UserID }, new { @class = "btn btn-default" }, true)
    </div>
</div>
<div class="table-responsive table-card">
    <table class="table">
        <tr>
            <th>
                Cargo
            </th>
            <th>

            </th>
        </tr>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => role.Name)
                </td>
                <td class="justify-content-end">
                    @if (User.IsInRole("Director") ||
                       User.IsInRole("SuperUser"))
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-item-id="@role.RoleID"><i class="fas fa-trash-alt"></i></button>
                    }
                </td>
            </tr>
            <tr class="table-spacing"></tr>
        }
    </table>
</div>

@if (
    User.IsInRole("Director") ||
    User.IsInRole("SuperUser"))
{
    <div class="modal fade" id="deleteModal" aria-labelledby="ModalDelete" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remover</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem a certeza que deseja remover este cargo?</p>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("RemoveRole", ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "deleteModalForm", @class = "" }))
                    {
                        @Html.AntiForgeryToken()

                        <input type="submit" id="confirmDelete" class="btn btn-primary" value="Remover" />
                    }
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    // On showing modal
    $('#deleteModal').on('show.bs.modal', (e) => {
        $(this).data('itemId', $(e.relatedTarget).data('itemId'));
    });

    $('#deleteModal').on('click', '#confirmDelete', (e) => {
        $('#deleteModalForm').attr('action', `@Url.Action("RemoveRole")?userID=@Model.UserID&roleID=${$(this).data('itemId')}`);
    });
</script>
