﻿@model gestformandosMVC.ViewModels.ManageAccountViewModel
@{
    ViewBag.Title = "Gerir Conta";
}

@{
    if (!Html.ViewData.ModelState.IsValid)
    {
        <p><div class="card card-body"><span class="text-danger">@Html.ValidationSummary()</span></div></p>
    }
    if (!String.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <p><div class="card card-body"><span class="text-success">@ViewBag.SuccessMessage</span></div></p>
    }
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <h4>Altere o seu perfil na plataforma gestFormandos</h4>
    </div>
    <p class="d-md-none m-1"></p>
    <div class="col-md-4 text-md-right">
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Alterar a sua password", "ChangePassword", new { }, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Criar uma password", "SetPassword", new { }, new { @class = "btn btn-primary" })
        }
    </div>
</div>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />

    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.GenderId, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.DropDownList("GenderId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.VatNumber, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.VatNumber, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.Birthdate, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @*@Html.TextBoxFor(m => m.Birthdate, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker" })*@
                    @Html.EJS().DatePickerFor(m => m.Birthdate, new { @class = "form-control" }).Format("dd/MM/yyyy").Render()
                </div>
            </div>
            <div class="col-md-8">
                @Html.LabelFor(m => m.Birthplace, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Birthplace, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                @Html.LabelFor(m => m.CitizenshipId, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.DropDownList("CitizenshipId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CitizenshipId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.NationalityId, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.DropDownList("NationalityId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NationalityId, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <hr />
        <div class="row form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.DocumentTypeId, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DocumentTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-8">
                @Html.LabelFor(m => m.DocumentNumber, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.DocumentEmissionDate, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @*@Html.TextBoxFor(m => m.DocumentEmissionDate, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker" })*@
                    @Html.EJS().DatePickerFor(m => m.DocumentEmissionDate, new { @class = "form-control" }).Format("dd/MM/yyyy").Render()
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.DocumentExpirationDate, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @*@Html.TextBoxFor(m => m.DocumentExpirationDate, "{0:dd/MM/yyyy}", new { @class = "form-control date-picker" })*@
                    @Html.EJS().DatePickerFor(m => m.DocumentExpirationDate, new { @class = "form-control" }).Format("dd/MM/yyyy").Render()
                </div>
            </div>
        </div>
        <hr />
        <div class="row form-group">
            <div class="col-md-12 text-center">
                @{
                    if (!string.IsNullOrEmpty(Model.ImagePath))
                    {
                        <img src="@Model.ImagePath" class="img-responsive" id="imagePreview" />
                    }
                    else
                    {
                        <img src="" class="img-responsive" id="imagePreview" />
                    }
                }
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 text-center">
                @Html.LabelFor(m => m.ImageURL, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <span class="btn btn-default btn-file">
                        @Html.TextBoxFor(m => m.ImageURL, new { type = "file", id = "imageUpload" })
                    </span>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Alterar" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script type="text/javascript">
        function PreviewImage() {
            var preview = document.querySelector('#imagePreview');
            var file = document.querySelector('#imageUpload').files[0];

            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            }
            else {
                preview.src = "";
            }
        }

        document.querySelector('#imageUpload').addEventListener('change', () => {
            PreviewImage();
        });

        @*$('.date-picker').datepicker({ dateFormat: 'dd/mm/yy' });*@
    </script>











    @*
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>

        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication

            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @if (Model.TwoFactor)
        {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()
        <text>
            Enabled
            <input type="submit" value="Disable" class="btn btn-link" />
        </text>
        }
        }
        else
        {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()
        <text>
            Disabled
            <input type="submit" value="Enable" class="btn btn-link" />
        </text>
        }
        }
        </dd>
    *@
