﻿@model gestformandosMVC.Data.Entities.Ufcd

@{
    ViewBag.Title = "Criar Nova";
}

<h2>Criar Nova</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ufcd</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-4 col-md-2">
            @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-4 col-md-2 col-lg-2">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", @placeholder = "Em horas..." } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-4 col-md-2 col-lg-2">
            @Html.LabelFor(model => model.Credits, htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.EditorFor(model => model.Credits, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Credits, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group" id="form-controls">
        <div class="col-md-12 d-md-inline-flex">
            <div class="col-12 col-md-6">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
            <div class="col-12 col-md-6 text-md-right">
                @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>
}

