﻿@model gestformandosMVC.Data.Entities.Ufcd

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>UFCD</h4>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="col-md-3 text-md-right">
            <dt>
                @Html.DisplayNameFor(model => model.Reference)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reference)
            </dd>
        </div>
        <div class="col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
        </div>
        <div class="col-md-6 text-md-right">
            <dt>
                @Html.DisplayNameFor(model => model.Credits)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Credits)
            </dd>
        </div>
        <div class="col-md-12">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>

    </div>
</div>
<p>
	<div id="form-controls">
		<div class="col-md-12 d-md-inline-flex">
            <div class="col-12 col-md-6">
                @if (User.IsInRole("Administrativo") ||
                    User.IsInRole("Director") ||
                    User.IsInRole("SuperUser"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                }

            </div>
			<div class="col-12 col-md-6 text-md-right">
				@if (Request.UrlReferrer.AbsolutePath.ToLower().Contains("ufcds"))
                {
                    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-default" })
                }
			</div>
		</div>
	</div>
</p>
