﻿@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>gestFormandos</h3>
<hr/>
<p>
    gestFormandos é um projecto desenvolvido com um propósito académico à base de C# ASP.NET MVC 5 com Entity Framework 6,
    com um objectivo hipotético de gerir os alunos de um centro de formação.<br/>
    Este projecto foi desenvolvido no espaço de uma semana e meia.
</p>
<hr/>
<h5>E agora, algum lorem ipsum.</h5>
<p>
    Iaculis eu non diam phasellus vestibulum. Euismod nisi porta lorem mollis aliquam. Vestibulum morbi blandit cursus risus. Tellus mauris a diam maecenas sed enim. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Lacus viverra vitae congue eu consequat ac felis donec. Est velit egestas dui id ornare arcu odio ut. Vel pharetra vel turpis nunc. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Enim blandit volutpat maecenas volutpat blandit aliquam. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis. Lorem ipsum dolor sit amet consectetur adipiscing. Amet massa vitae tortor condimentum lacinia quis vel. Magnis dis parturient montes nascetur ridiculus mus. Fermentum odio eu feugiat pretium nibh ipsum consequat.
</p>

