﻿@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title</h2>
<h3> </h3>

<div class="text-center">
    <address>
        Rua St.Algures<br />
        Localidade 9999-420<br />
        <abbr title="Contacto Telefónico">Nº:</abbr>
        211 420 2069
    </address>

    <address>
        <strong>Suporte:</strong>   <a href="mailto:pedro.marcelino.madrugo@formandos.cinel.pt">pedro.marcelino.madrugo@formandos.cinel.pt</a><br />
    </address>
</div>
<div class="text-center">
    <iframe id="mapGoogle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.674245994583!2d-9.190430384655365!3d38.702326379601175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecd1cdf51dba5%3A0xaaa77b600a1271fe!2sCinel!5e0!3m2!1sen!2spt!4v1556887127387!5m2!1sen!2spt" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<hr />

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    eros in cursus turpis massa tincidunt dui. Id porta nibh venenatis cras sed felis. Donec ultrices tincidunt arcu non. 
    Enim eu turpis egestas pretium aenean pharetra magna. Ultricies tristique nulla aliquet enim tortor at auctor urna nunc. 
    Sed felis eget velit aliquet sagittis. Vel turpis nunc eget lorem. Diam donec adipiscing tristique risus nec. Odio aenean sed adipiscing diam.
</p>
<p>
    Iaculis eu non diam phasellus vestibulum. Euismod nisi porta lorem mollis aliquam. Vestibulum morbi blandit cursus risus. 
    Tellus mauris a diam maecenas sed enim. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. 
    Lacus viverra vitae congue eu consequat ac felis donec. Est velit egestas dui id ornare arcu odio ut. Vel pharetra vel turpis nunc. 
    Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Enim blandit volutpat maecenas volutpat blandit aliquam. 
    Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis. Lorem ipsum dolor sit amet consectetur adipiscing. 
    Amet massa vitae tortor condimentum lacinia quis vel. Magnis dis parturient montes nascetur ridiculus mus. 
    Fermentum odio eu feugiat pretium nibh ipsum consequat.
</p>

<script>
    document.querySelector('#mapGoogle').width = (document.documentElement.clientWidth / 3);
</script>