﻿@{
    ViewBag.Title = "Home Page";
}

@{ 
    if (!String.IsNullOrEmpty(ViewBag.Message))
    {
        <p><div class="card card-body"><span class="text-danger">@ViewBag.Message</span></div></p>
    }
}


<h2>gestFormandos</h2>
<h4>Plataforma de eleição para a sua formação!</h4>
<hr/>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Consequat mauris nunc congue nisi. Lacinia at quis risus sed. Massa eget egestas purus viverra accumsan in nisl. 
</p>
<p>
    Porttitor rhoncus dolor purus non. Vel elit scelerisque mauris pellentesque pulvinar. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Dignissim cras tincidunt lobortis feugiat vivamus. 
    Ut placerat orci nulla pellentesque dignissim enim. Iaculis urna id volutpat lacus.
</p>
<hr/>
<div class="row">
    <div class="col-md-4">
        <h2>A nossa equipa</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet aliquam id diam maecenas ultricies mi eget mauris. Aliquam ultrices sagittis orci a scelerisque purus semper eget duis. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>A nossa missão</h2>
        <p>
            Cursus sit amet dictum sit amet justo donec. Sagittis aliquam malesuada bibendum arcu. Eget nullam non nisi est. Arcu risus quis varius quam. Proin libero nunc consequat interdum varius sit amet mattis vulputate. In ante metus dictum at tempor commodo ullamcorper a lacus. 
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Ambições</h2>
        <p>
            Fringilla est ullamcorper eget nulla facilisi. Nibh sed pulvinar proin gravida hendrerit. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Quis eleifend quam adipiscing vitae proin sagittis nisl. Quis blandit turpis cursus in. Nisl purus in mollis nunc sed id semper risus. 
        </p>
    </div>
</div>